:root {
    --background: #111;
    --box-shadow: 0 2px 6px #000;
    --gray: #444;
    --gray-dark: #333;
    --gray-light: #555;
    --font: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font);
    font-family: sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background: var(--background);
}

h2 {
    padding: .5rem 0;
    text-align: center;
    text-shadow: 0 2px 0 var(--gray-light);
}

header {
    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: .75rem;

    padding: .5rem 1rem;
    background: var(--gray);

    border-bottom: solid 2px var(--gray-light);
}

html {
    scroll-behavior: smooth;
}

option,
select {
    color: var(--gray-dark);
}

x-item {
    --background: var(--gray);

    --green: #080;
    --yellow: #ca0;
    --red: #800;

    --status-dot-diameter: 1.4rem;

    width: 100%;
}

x-item:nth-child(odd) {
    --background: var(--gray-dark);
}

[id^=cat] {
    padding-top: 5rem;
    margin-top: -5rem;
}

#history-panel {
    display: none;

    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80ch;
    height: 70vh;

    border: solid 2px var(--font);
    background-color: var(--gray-dark);
    box-shadow: 2px 2px 15px #000;
}

#history-panel.active {
    display: block;
}

#history-panel:after {
    position: fixed;
    top: -50%;
    left: -100%;
    z-index: -1;

    content: '';

    width: 105vw;
    height: 150vh;

    background-color: #0008;
}

#history-body {
    padding: 10px 20px;
}

#history-body div {
    margin-bottom: 10px;
}

#history-exit {
    display: block;

    position: absolute;
    top: 5px;
    right: 5px;

    width: 1.75rem;
    height: 1.75rem;

    font-size: 1.5rem;
    font-weight: bold;
    line-height: 0;

    background: var(--font);
    color: #000;

    cursor: pointer;
}

#history-title {
    text-align: center;
    font-size: 2rem;

    border-bottom: 1px solid var(--font);
}

#title {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: max(2vw, 16pt);
}

#title img {
    width: max(3vw, 50px);
    height: auto;
}

#title-block {
    display: flex;
    gap: .5rem;
}

#toc {
    position: fixed;
    top: 5rem;
    left: .5rem;

    padding: .5rem 1rem;
    width: fit-content;

    border: solid 2px #000;
    border-radius: 5px;
    background-color: var(--gray-light);
    box-shadow: var(--box-shadow);
}

#toc a {
    display: list-item;
    margin: .5rem 1rem;

    font-size: .8rem;

    text-decoration: underline;
    cursor: pointer;
}

#toc summary {
    cursor: pointer;
    user-select: none;
}

#top-link {
    position: fixed;
    z-index: 2;
    bottom: 2rem;
    right: 2rem;

    padding: .5rem 1rem;

    border: solid 2px #000;
    border-radius: 5px;
    background-color: var(--gray-light);
    box-shadow: var(--box-shadow);

    cursor: pointer;

    transition: background-color .05s;
}

#top-link:hover {
    background-color: var(--gray-dark);
}

#save-changes {
    display: block;
}

#version {
    font-size: .9rem;
    transform: translateY(50%);
}

.item-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--background);
}

.item-section p {
    margin: 1rem 0;

    font-size: 1.5rem;
    font-weight: bold;
    color: var(--font);
}