:root {
    --background: #111;
    --box-shadow: 0 2px 6px #000;
    --gray: #444;
    --gray-dark: #333;
    --gray-light: #555;
    --green: #080;
    --yellow: #ca0;
    --red: #800;
    --font: #ddd;
    --toc-width: 267px;
    --hover-bg: #2e3538;
    --exit-hover: #fccccc;
    --status-dot-filter-diameter: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font);
    font-family: sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background: var(--background);
}

h2 {
    padding: .5rem 0;
    text-align: center;
    text-shadow: 0 2px 0 var(--gray-light);
}

header {
    position: sticky;
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: .75rem;
    padding: .5rem 1rem;
    height: 5rem;
    background: var(--gray);
    border-bottom: solid 2px var(--gray-light);
}

html {
    scroll-behavior: smooth;
}

main {
    display: grid;
    grid-template-columns: 30ch auto;
}

option,
select {
    color: var(--gray-dark);
}

[open] summary {
    margin-bottom: .5rem;
    padding-bottom: .25rem;
    border-bottom: solid 1px var(--font);
}

x-item {
    --background: var(--gray);
    --green: #080;
    --yellow: #ca0;
    --red: #800;
    --status-dot-diameter: 1.4rem;
    width: fit-content;
}

x-item:nth-child(odd) {
    --background: var(--gray-dark);
}

[id^=cat] {
    padding-top: 5rem;
    margin-top: -5rem;
}

#filter-widget {
    display: flex;
    align-items: center;

    position: fixed;
    z-index: 1;
    bottom: 2.5rem;
    left: .5rem;

    width: calc(var(--toc-width) - 1rem);
    height: 1.5rem;

    font-size: .9rem;

    background-color: var(--gray);
}

#filter-status,
#filter-nav b:before {
    display: inline-block;
    vertical-align: middle;
    width: 0px;
    height: 0px;
    margin-right: .25rem;
    padding: calc(var(--status-dot-filter-diameter)/2.5);
    content: '';
    border-radius: 50%;
    border: 1px solid #fff;
}

#filter-nav {
    display: none;
    position: absolute;
    bottom: 1.5rem;
    left: calc(var(--toc-width)/4);
    width: calc(var(--toc-width)/2);
    padding: .25rem;
    text-align: justify;
    background-color: var(--background);
}

#filter-nav.active {
    display: grid;
    grid-template-columns: auto;
}

#filter-nav b {
    padding: .25rem .5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

#filter-nav b:hover {
    background: var(--gray-dark);
}

#filter-nav b:before {
    border: none;
    padding: calc(var(--status-dot-filter-diameter)/3);
}

#filter-current {
    position: relative;
    left: 8ch;
    text-align: left;
    cursor: pointer;
}

#hidden-items {
    padding: 1rem;
    background-color: var(--gray-dark);
}

#history-panel {
    display: none;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80ch;
    height: 70vh;
    border: solid 2px var(--font);
    background-color: var(--gray-dark);
    box-shadow: 2px 2px 15px #000;
}

#history-panel.active {
    display: block;
}

#history-panel:after {
    position: fixed;
    top: -50%;
    left: -100%;
    z-index: -1;
    content: '';
    width: 300vw;
    height: 300vh;
    background-color: #0008;
}

#history-panel section {
    padding: 1rem;
}

#history-body {
    max-height: calc(70vh - 8rem);
    overflow: hidden;
    overflow-y: auto;
}

#history-exit {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 1.75rem;
    height: 1.75rem;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 0;
    background: var(--font);
    color: #000;
    cursor: pointer;
}

#history-exit:hover {
    background: var(--exit-hover);
}

#history-header {
    margin-bottom: 1rem;
}

#history-title {
    text-align: center;
    font-size: 2rem;
    border-bottom: 1px solid var(--font);
}

#save-changes {
    display: block;
    padding: 5px;
    border: 1px solid beige;
    border-radius: 5px;
    background: none;
}

#save-changes:hover {
    background: var(--hover-bg);
}

#title {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 20pt;
}

#title img {
    width: 50px;
    height: auto;
}

#title-block {
    display: flex;
    gap: .5rem;
}

#toc {
    position: relative;
    z-index: 0;
    width: var(--toc-width);
    min-height: 100vh;
    border: solid 2px #000;
    background-color: var(--gray-dark);
}

#toc nav {
    position: fixed;
    top: 5.5rem;
    left: .5rem;
    padding: 0 .5rem;
    width: calc(var(--toc-width) - 1rem);
    height: calc(100% - 8rem);
    overflow: hidden;
    overflow-y: auto;
}

#toc a {
    display: list-item;
    margin: .5rem 1rem;
    font-size: .8rem;
    text-decoration: underline;
    cursor: pointer;
}

#toc a:hover {
    font-weight: bolder;
}

#toc summary {
    cursor: pointer;
    user-select: none;
}

#top-widget {
    position: fixed;
    z-index: 1;
    bottom: .5rem;
    left: .5rem;

    padding: .5rem 1rem;
    width: calc(var(--toc-width) - 1rem);
    height: 1.5rem;

    line-height: 0;
    cursor: pointer;
    border: none;

    background-color: var(--gray);
    transition: background-color .05s;
}

#top-widget:hover {
    background-color: var(--gray-light);
}

#version {
    font-size: .9rem;
    transform: translateY(50%);
}

.entry {
    display: grid;
    grid-template-columns: [date] 22ch [status] 10ch [cost] 10ch [note] auto;
    border: solid 1px var(--gray);
    border-collapse: collapse;
    text-align: right;
}

.entry:nth-child(odd) {
    background-color: var(--gray-dark);
}

.entry p {
    border: solid 1px var(--font);
    padding: .25rem;
}

.entry p.note {
    text-align: left;
}

.entry-header {
    font-weight: bold;
    text-align: center;
}

.filter-all:before {
    background-color: var(--gray-light);
}

.filter-ok:before {
    background-color: var(--green);
}

.filter-warning:before {
    background-color: var(--yellow);
}

.filter-stopped:before {
    background-color: var(--red);
}