:root {
    --background: #111;
    --gray: #444;
    --gray-dark: #333;
    --gray-light: #555;
    --font: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font);
    font-family: sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background: var(--background);
}

header {
    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: .75rem;

    padding: .5rem 1rem;
    background: var(--gray);

    border-bottom: solid 2px var(--gray-light);
}

option,
select {
    color: var(--gray-dark);
}

x-item {
    --background: var(--gray);

    --green: #080;
    --yellow: #ca0;
    --red: #800;

    --status-dot-diameter: 1.4rem;

    width: 100%;
}

x-item:nth-child(odd) {
    --background: var(--gray-dark);
}

#title {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: max(2vw, 16pt);
}

#title img {
    width: max(3vw, 50px);
    height: auto;
}

#title-block {
    display: flex;
    gap: .5rem;
}

#save-changes {
    /* position: absolute;
    right: 1rem;
    top: calc(50% - .5rem); */

    display: block;
}

#version {
    font-size: .9rem;
    transform: translateY(50%);
}


.item-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--background);
}

.item-section p {
    margin: 1rem 0;

    font-size: 1.5rem;
    font-weight: bold;
    color: var(--font);
}