<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ app_title }}</title>

    <link rel="stylesheet" href="../static/main.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <div id="title-block">
            <a href="/">
                <p id="title">
                    <img src="../static/maintenance_tracker_logo.svg" alt="[app logo]">
                    {{ app_title }}
                </p>
            </a>
            <p id="version">{{ app_version }}</p>
        </div>

        <a id="save-changes">Save Changes</a>
    </header>

    {#
    Loop through database items and add them to the page.
    This currently doesn't organize the items by category.
    #}

    {% for index, item in items %}
    <x-item id="{{ item.id }}" title="{{ item.title }}" categoryID="{{ item.category_id }}" status="{{ item.status }}"
        {% if item.statdesc %} statdesc="{{ item.statdesc }}" {% endif %} cost="{{ item.cost }}" {#
        visible="{{ item.visible }}" #}>
        {{ item.note }}
    </x-item>
    {% endfor %}

    <script src="static/script.js"></script>
</body>

</html>