<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ app_title }}</title>

    <link rel="stylesheet" href="../static/main.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <div id="title-block">
            <a href="/">
                <p id="title">
                    <img src="../static/maintenance_tracker_logo.svg" alt="[app logo]">
                    {{ app_title }}
                </p>
            </a>
            <p id="version">{{ app_version }}</p>
        </div>

        <div class="action-links">
            <a id="link-add" class="btn" onclick="displayAddPanel()">Add</a>
            <a id="link-save" class="btn">Save Changes</a>
        </div>
    </header>

    <article id="history-panel" class="popover">
        <h3 class="popover-title">History</h3>
        <button class="popover-exit" onclick="exitPanel(this)"></button>
        <section>
            <h3 id="history-header"></h3>
            <div class="entry entry-header">
                <p>Date</p>
                <p>Status</p>
                <p>Cost ($)</p>
                <p>Note</p>
            </div>
            <div id="history-body"></div>
        </section>
    </article>

    <article id="add-panel" class="popover">
        <h3 class="popover-title">Add</h3>
        <button class="popover-exit" onclick="exitPanel(this)"></button>

        <div id="add-body">
            <div class="add-section">
                <input type="radio" name="add-selected" id="add-category" selected>
                <p>New Category</p>
            </div>
            <form action="/add/category" method="post">
                <fieldset disabled>
                    <label for="title" class="required-field">Title</label>
                    <input type="text" name="title" required>
                    <button type="submit" class="btn">Add</button>
                </fieldset>
            </form>

            <div class="add-section">
                <input type="radio" name="add-selected" id="add-item">
                <p>New Item</p>
            </div>
            <form action="/add/item" method="post">
                <fieldset disabled>
                    <label for="title" class="required-field">Title</label>
                    <input type="text" name="title" required>
                    <label for="category_id" class="required-field">Category</label>
                    <select name="category_id" required>
                        <option value="-1" selected disabled>Select a Category</option>
                        {% for category in categories %}
                        {% if not category.removed %}
                        <option value="{{category.id}}">{{category.title}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn">Add</button>
                </fieldset>
            </form>
        </div>
    </article>

    <div id="filter-widget">
        <nav id="filter-nav">
            <b class="filter-ok" onclick="filterItemsByStatus('')">OK</b>
            <b class="filter-warning" onclick="filterItemsByStatus('0')">Warning</b>
            <b class="filter-stopped" onclick="filterItemsByStatus('1')">Stopped</b>
            <b class="filter-all" onclick="filterItemsByStatus('2')">Show All</b>
        </nav>
        <div id="filter-current">
            <span id="filter-status" name=""></span>
            <b>Filter: Show All</b>
        </div>
    </div>

    <button id="top-widget" onclick="scrollToTop()">Top &bigtriangleup;</button>

    <main>
        <aside id="toc">
            <nav>
                <b>Table of Contents</b>
                {% for category in categories %}
                {% if not category.removed %}
                <a class="toc-link" onclick="scrollToCategory({{category.id}})">{{ category.title }}</a>
                {% endif %}
                {% endfor %}
            </nav>
        </aside>

        <section>
            <details id="hidden-items">
                <summary>Hidden Items</summary>
                <details id="empty-categories">
                    <summary>Empty Categories</summary>
                </details>
            </details>

            <div id="categories">
                {# Loop through categories #}
                {% for category in categories %}
                {% if not category.removed %}
                <div id="cat-{{category.id}}">
                    <h2>{{ category.title }}</h2>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            {# Loop through items #}
            {% for index, item in items %}
            {% if not item.details.removed %}
            <x-item id="{{ item.id }}" title="{{ item.title }}" categoryID="{{ item.category_id }}"
                status="{{ item.details.status }}" cost="{{ item.details.cost }}" visible="{{ item.details.visible }}">
                {{ item.details.note }}
            </x-item>
            {% endif %}
            {% endfor %}
        </section>
    </main>

    <script src="static/script.js"></script>
</body>

</html>