<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ app_title }}</title>

    <link rel="stylesheet" href="../static/main.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <div id="title-block">
            <a href="/">
                <p id="title">
                    <img src="../static/maintenance_tracker_logo.svg" alt="[app logo]">
                    {{ app_title }}
                </p>
            </a>
            <p id="version">{{ app_version }}</p>
        </div>

        <a id="save-changes">Save Changes</a>
    </header>

    <article id="history-panel">
        <h3 id="history-title">History</h3>
        <button id="history-exit" onclick="exitHistoryPanel()">&times;</button>
        <section>
            <h3 id="history-header"></h3>
            <div class="entry entry-header">
                <p>Date</p>
                <p>Status</p>
                <p>Cost ($)</p>
                <p>Note</p>
            </div>
            <div id="history-body"></div>
        </section>
    </article>

    <button id="top-link" onclick="scrollToTop()">Top &bigtriangleup;</button>

    <details id="toc">
        <summary>Table of Contents (Quick Links)</summary>
        {% for category in categories %}
        <a onclick="scrollToCategory({{category.id}})">{{ category.title }}</a>
        {% endfor %}
    </details>

    {# Loop through categories #}
    {% for category in categories %}
    <div id="cat-{{category.id}}">
        <h2>{{ category.title }}</h2>
    </div>
    {% endfor %}*/

    {# Loop through items #}
    {% for index, item in items %}
    <x-item id="{{ item.id }}" title="{{ item.title }}" categoryID="{{ item.category_id }}"
        status="{{ item.details.status }}" {% if item.details.statdesc %} statdesc="{{ item.details.statdesc }}" {%
        endif %} cost="{{ item.details.cost }}" visible="{{ item.details.visible }}">
        {{ item.details.note }}
    </x-item>
    {% endfor %}

    <script src="static/script.js"></script>
</body>

</html>