<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <header>
        <a href="/">
            <p id="title">Maintenance Tracker</p>
        </a>

        <p id="version">{{ version }}</p>

        <a id="save-changes">Save Changes</a>
    </header>

    {% for section in data.sections %}
    <div class="item-section">
        <p>{{section.title}}</p>

        {% for item in section.items %}
        <x-item title="{{item.title}}" status="{{item.status}}" {% if item.statdesc !="" %}statdesc="{{item.statdesc}}"
            {% endif %} cost="{{item.cost}}">{{item.note}}</x-item>
        {% endfor %}

    </div>
    {% endfor %}

    <script src="/static/script.js"></script>
</body>

</html>